/* Дополнительные стили */
li {
    --success: 10, 191, 48;
    --error: 226, 77, 76;
    --info: 52, 152, 219;
    --warning: 233, 189, 12;
    animation: showToast 0.3s ease forwards;
}

li::before {
    animation: progress 5s linear forwards;
    bottom: 0;
    content: "";
    height: 3px;
    left: 0;
    position: absolute;
    width: 100%;
}

li.success i:nth-child(1) {
    color: rgb(var(--success));
}

li.success::before {
    background-color: rgb(var(--success));
}

li.error i:nth-child(1) {
    color: rgb(var(--error));
}

li.error::before {
    background-color: rgb(var(--error));
}

li.warning i:nth-child(1) {
    color: rgb(var(--warning));
}

li.warning::before {
    background-color: rgb(var(--warning));
}

li.info i:nth-child(1) {
    color: rgb(var(--info));
}

li.info::before {
    background-color: rgb(var(--info));
}

li.hide {
    animation: hideToast 0.3s ease forwards;
}

@keyframes showToast {
    0% {
        transform: translateX(100%);
    }
    40% {
        transform: translateX(-5%);
    }
    80% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-10px);
    }
}

@keyframes hideToast {
    0% {
        transform: translateX(-10px);
    }
    40% {
        transform: translateX(0%);
    }
    80% {
        transform: translateX(-5%);
    }
    100% {
        transform: translateX(calc(100% + 20px));
    }
}

@keyframes progress {
    100% {
        width: 0;
    }
}