/* Дополнительные стили */
.t-notifications {
    --success: 10, 191, 48;
    --error: 226, 77, 76;
    --info: 52, 152, 219;
    --warning: 233, 189, 12;
    --gap: 20px;
}


.t-notifications ul {
    --right: 20px;
    display: grid;
    gap: 10px;
    position: fixed;
    right: var(--right);
    top: 30px;
}

.t-notifications ul li {
    align-items: center;
    animation: showToast 0.3s ease forwards;
    border-radius: 4px;
    box-shadow: 0 0 3px 2px rgb(0 0 0 / 10%);
    display: flex;
    gap: 10px;
    max-width: 400px;
    overflow: hidden;
    padding: 16px 17px;
    position: relative;
    width: 100%;
}

.t-notifications ul li button {
    border: 0;
    padding: 4px;
}

.t-notifications ul li::before {
    animation: progress 5s linear forwards;
    bottom: 0;
    content: "";
    height: 3px;
    left: 0;
    position: absolute;
    width: 100%;
}

.t-notifications ul li.success i:nth-child(1) {
    color: rgb(var(--success));
}

.t-notifications ul li.success::before {
    background-color: rgb(var(--success));
}

.t-notifications ul li.error i:nth-child(1) {
    color: rgb(var(--error));
}

.t-notifications ul li.error::before {
    background-color: rgb(var(--error));
}

.t-notifications ul li.warning i:nth-child(1) {
    color: rgb(var(--warning));
}

.t-notifications ul li.warning::before {
    background-color: rgb(var(--warning));
}

.t-notifications ul li.info i:nth-child(1) {
    color: rgb(var(--info));
}

.t-notifications ul li.info::before {
    background-color: rgb(var(--info));
}

.t-notifications ul li.hide {
    animation: hideToast 0.3s ease forwards;
}

@keyframes showToast {
    0% {
        transform: translateX(100%);
    }
    40% {
        transform: translateX(-5%);
    }
    80% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-10px);
    }
}

@keyframes hideToast {
    0% {
        transform: translateX(-10px);
    }
    40% {
        transform: translateX(0%);
    }
    80% {
        transform: translateX(-5%);
    }
    100% {
        transform: translateX(calc(100% + 20px));
    }
}

@keyframes progress {
    100% {
        width: 0;
    }
}