/* Дополнительные стили */
:root {
    --bcp-grey: #1B2124;
    --bcs-grey-3: #EFEFEF;
}


.price-slider .slider {
    background-color: var(--bcs-grey-3);
    border-radius: 5px;
    height: 5px;
    position: relative;
    margin-top: 20px;
}

.price-slider .slider__progress {
    background-color: var(--bcp-grey);
    border-radius: 5px;
    height: 5px;
    left: 18%;
    position: absolute;
    right: 22%;
}

.dark .price-slider .slider__progress {
    background-color: #625c5c;
}

.price-slider .ranges {
    position: relative;
    top: 8px;
}

.price-slider .ranges__input {
    -webkit-appearance: none;
    background: none;
    border: 0;
    height: 5px;
    padding: 0;
    pointer-events: none;
    position: absolute;
    top: -13px;
    width: 100%;
}

.price-slider .ranges__input::-webkit-slider-thumb {
    -webkit-appearance: none;
    background: var(--bcp-grey);
    border-radius: 50%;
    height: 17px;
    pointer-events: auto;
    width: 17px;
}

.price-slider .ranges__input::-moz-range-thumb {
    -moz-appearance: none;
    background: var(--bcp-grey);
    border: none;
    border-radius: 50%;
    height: 17px;
    pointer-events: auto;
    width: 17px;
}

.dark .price-slider .ranges__input::-webkit-slider-thumb {
    background: #EFEFEF;
}

.dark .price-slider .ranges__input::-moz-range-thumb {
    background: #EFEFEF;
}
