:root {
    /* Colors */
    --bcp-grey: #49575e;
    --bcs-grey-2: #CCCCCC;
    --fld-chbx-bg: #3B4256;
    --fld-chbx-bdrs: 3px;
}

/* Стили для range input */
.range {
    all: revert;
    width: 100%;
    cursor: pointer;
    -webkit-appearance: none;
    appearance: none;
    height: 8px;
    border-radius: 4px;
    background: var(--bcs-grey-2);
    outline: none;
    opacity: 0.7;
    transition: opacity .2s;
}

.range:hover {
    opacity: 1;
}

.range::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    background-color: var(--bcp-grey);
    border-radius: 50%;
    cursor: pointer;
}

.range::-moz-range-thumb {
    width: 15px;
    height: 15px;
    background-color: var(--bcp-grey);
    border-radius: 50%;
    cursor: pointer;
}

/* Стили для чекбоксов и радио кнопок */
.checkbox,
.radio {
    width: 24px;
    height: 24px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: 3px solid var(--fld-chbx-bg);
    border-radius: var(--fld-chbx-bdrs);
}

.radio {
    border-radius: 50%;
    outline: 3px solid var(--fld-chbx-bg);
    border: 3px solid #fff;
    background: #fff;
}

input[type="checkbox"]:checked + .checkbox {
    background-color: var(--fld-chbx-bg);
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' %3E%3Cpath d='M20 6 9 17l-5-5'/%3E%3C/svg%3E");
    background-position: center;
}

input[type="radio"]:checked + .radio {
    background: var(--fld-chbx-bg);
    border-color: #FFF;
    outline-color: var(--fld-chbx-bg);
}

input[type="checkbox"]:focus-within + .checkbox {
    outline: 3px solid #E2E7ED;
}

/* Стили для индикатора */
.indicator {
    position: relative;
    height: 8px;
    background-color: var(--bcs-grey-2);
    border-radius: 4px;
    overflow: hidden;
}

.indicator::after {
    transition: width 0.25s linear;
    position: absolute;
    width: 50%;
    height: 100%;
    content: '';
    left: 0;
}

.indicator[data-level='weak']::after {
    width: 20%;
    background-color: #E64A4A;
}

.indicator[data-level='medium']::after {
    width: 50%;
    background-color: #f1c80b;
}

.indicator[data-level='strong']::after {
    width: 100%;
    background-color: #9dd0c4;
}
