.weak {
    --color: #fb3c3c;
}

.weak li:nth-child(1) {
    background-color: var(--color);
    border-color: var(--color);
}

.weak span {
    color: var(--color);
}

.medium {
    --color: #1b6aa5;
}

.medium li:nth-child(1),
.medium li:nth-child(2) {
    background-color: var(--color);
    border-color: var(--color);
}

.medium span {
    color: var(--color);
}

.strong {
    --color: #9abf1a;
}

.strong li {
    background-color: var(--color);
    border-color: var(--color);
}

.strong span {
    color: var(--color);
}
